
@{
    ViewData["Title"] = "Self";
}

<div class="row">
    <div class="col-xs-12 col-sm-2">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://www.google.ru">
                    <img src="images/img1.png" alt="no_image" height="100">
                </a>
            </div>
            <div class="col-xs-12">
                <a href="https://www.google.ru">
                    <img src="images/img1.png" alt="no_image" height="100">
                </a>
            </div>
            <div class="col-xs-12">
                <a href="https://www.google.ru">
                    <img src="images/img1.png" alt="no_image" height="100">
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <p>
            <img src="images/img1.png" alt="no_image" height="100" align="left">Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <br><br>Я люблю:
        <ul>
            <li> Спать </li>
            <li> Пельмешки </li>
            <li> Чай </li>

        </ul>
    </div>
    <div class="col-xs-12 ">
        <p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat 	volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>

