
@{
    ViewData["Title"] = "Verse";
}

<div class="row">
    <div class="col-xs-12 col-sm-2">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://www.google.ru">
                    <img src="images/img1.png" alt="no_image" height="100">
                </a>
            </div>
            <div class="col-xs-12">
                <a href="https://www.google.ru">
                    <img src="images/img1.png" alt="no_image" height="100">
                </a>
            </div>
            <div class="col-xs-12">
                <a href="https://www.google.ru">
                    <img src="images/img1.png" alt="no_image" height="100">
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <center>
            <h1> Осень </h1>

            <p>
                Тихо в чаще можжевеля по обрыву.<br>
                Осень, рыжая кобыла, чешет гривы.
            </p>

            <p>
                Над речным покровом берегов<br>
                Слышен синий лязг ее подков.
            </p>

            <p>
                Схимник-ветер шагом осторожным<br>
                Мнет листву по выступам дорожным
            </p>

            <p>
                И целует на рябиновом кусту<br>
                Язвы красные незримому Христу.
            </p>

            <p class="autor"> Сергей Есенин </p>
        </center>
    </div>
    <div class="col-xs-12 ">
        <p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat 	volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>

