body {

	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	position: absolute;

}

.autor {
	font-style: italic;
	font-weight: bolder;
	font-size: larger;
}

.menu {
	position: relative;
	float: left;
    list-style: none;
    margin: 0;
    padding: 1px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.menu:hover {
	cursor: pointer;
}

.submenu {
	position: relative;
	display:none;
	cursor: pointer;
}

.menu:hover .submenu{
	display: inline-block;
}

.submenu ul{
	width: 100%;
	position: absolute;
	display: none;
	list-style-type: none;
	right: 0px;
	top: 100%;
}

.submenu ul li{
	background: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.submenu ul .bottom{
	background: white;
	border: 1px solid black;
}

.submenu:hover ul{
	display: block;
}


.ad {

	width: 50%;
	height: auto;

}

#selfi {

	width: 10%;
	height: auto;
	float: left;
}

#nav {

	border-bottom: 1px solid black;
	width: 100%;
	height: 5%;
}
 
#left {

	padding: 1%;
	float: left;
	width: 20%;
	height: 80%;

}

#right {

	padding: 1%;
	float: right;
	width: 20%;
	height: 80%;

}

#middle {
	text-align: left;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 1%;
	float: left;
	width: 53%;
	height: 80%;
}

#footer {

	clear: both;
	border-top: 1px solid black;
	width: 100%;
	height: 5%;
	bottom: 0px;
	text-align: right;
}


@media print {
	#nav {display: none;}
	#left {display: none;}
	#right {display: none;}
	#footer {display: none;}
	#middle{
		border: none;
		width:auto;
		height:auto;
	}
}