body {

	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	position: absolute;
	border-collapse: collapse;

}

.ad {

	width: 50%;
	height: auto;

}

#selfi {

	width: 10%;
	height: auto;
	float: left;
}

#nav {

	border-bottom: 1px solid black;
	width: 100%;
	height: 5%;
}
 
#left {
	
	padding: 1%;
	float: left;
	width: 20%;
	height: 80%;

}

#right {

	padding: 1%;
	float: right;
	width: 20%;
	height: 80%;

}

#middle {
	text-align: left;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 1%;
	float: left;
	width: 53%;
	height: 80%;
}

#footer {

	clear: both;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 5%;
	bottom: 0px;
	text-align: right;
}